<p>
	Time Between Number Calls <br /> ( pause game to change ):
<p>
<select name="gameSpeed" ng-model="gameSpeed" ng-change="setGameSpeed()" ng-disabled="gameRunning">
	<option value="2000">2 seconds</option>
	<option value="3000">3 seconds</option>
	<option value="4000">4 seconds</option>
	<option value="5000">5 seconds</option>
	<option value="6000">6 seconds</option>
	<option value="7000">7 seconds</option>
	<option value="8000">8 seconds</option>
	<option value="9000">9 seconds</option>
	<option value="10000">10 seconds</option>
</select>