<div class="row">
 	<h5 class="printOnly text-center">{{playerInfo.name}}</h5>
 	<div>
	 	<div class='col-md-4' ng-repeat="card in playerInfo.cards">
			<table class="table text-center playerCard">
				<tr>
					<th class="text-center">B</th>
					<th class="text-center">I</th>
					<th class="text-center">N</th>
					<th class="text-center">G</th>
					<th class="text-center">O</th>
				</tr>
				<tr>
					<td>{{card.B[0]}}</td>
					<td>{{card.I[0]}}</td>
					<td>{{card.N[0]}}</td>
					<td>{{card.G[0]}}</td>
					<td>{{card.O[0]}}</td>
				</tr>
				<tr>
					<td>{{card.B[1]}}</td>
					<td>{{card.I[1]}}</td>
					<td>{{card.N[1]}}</td>
					<td>{{card.G[1]}}</td>
					<td>{{card.O[1]}}</td>
				</tr>
				<tr>
					<td>{{card.B[2]}}</td>
					<td>{{card.I[2]}}</td>
					<td>{{card.N[2]}}</td>
					<td>{{card.G[2]}}</td>
					<td>{{card.O[2]}}</td>
				</tr>
				<tr>
					<td>{{card.B[3]}}</td>
					<td>{{card.I[3]}}</td>
					<td>{{card.N[3]}}</td>
					<td>{{card.G[3]}}</td>
					<td>{{card.O[3]}}</td>
				</tr>
				<tr>
					<td>{{card.B[4]}}</td>
					<td>{{card.I[4]}}</td>
					<td>{{card.N[4]}}</td>
					<td>{{card.G[4]}}</td>
					<td>{{card.O[4]}}</td>
				</tr>
		 	</table>
	 	</div>
	</div>
</div>