 <div class="row">
    <h3> Bingo Cards </h3>
    <div class="col-md-4">
        <table class="table" id="bingoCard1">
            <tr>
                <th>B</th>
                <th>I</th>
                <th>N</th>
                <th>G</th>
                <th>O</th>
            </tr>
        </table>
    </div>
   <div class="col-md-4">
        <table class="table" id="bingoCard2">
            <tr>
                <th>B</th>
                <th>I</th>
                <th>N</th>
                <th>G</th>
                <th>O</th>
            </tr>
        </table>
    </div>
    <div class="col-md-4">
        <table class="table" id="bingoCard3">
            <tr>
                <th>B</th>
                <th>I</th>
                <th>N</th>
                <th>G</th>
                <th>O</th>
            </tr>
        </table>
    </div>
</div>