 <div class="container">
 	<section id="nonPrintSection">

	    <div class="row" id="scoreboardRow">
	    	 <bingo-scoreboard class="col-md-8 col-md-offset-2"></bingo-scoreboard>
	    </div><!-- row -->  

	    <div class="row">
	    	 <game-status class="col-md-4 col-md-offset-4 text-center"></game-status>
	    </div>	

	    <div class="row">
	     	<game-buttons class="col-md-4 col-md-offset-4 text-center"></game-buttons>
	 	</div>

	 	<div class="row text-center" id="cardsToggleDiv">
	     	<btn class="btn btn-primary text-center" 
	     		ng-click="toggleCards()" ng-show="bingo.players.length">{{toggleCardsMessage}}</btn>
	 	</div>
	</section><!-- nonPrintSection -->


    <section id="printSection">	
		<div ng-show="showCards"><!-- View Cards -->
			<h3 class="screenOnly">Player Cards</h3>
	    	<player-selection></player-selection>
		   
    	<div ng-show="selectedPlayer">
    		<player-cards></player-cards>
    	</div>  
    </section><!-- print section -->
</div>